<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
<!-- Bootstrap Core CSS -->
<link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/landing-page.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">

<head>
    <title>成绩查询</title>
</head>
<style type="text/css">
.auto_arrange {
    table-layout: fixed
}

.auto_arrange td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px
}

.bs-docs-home {
    background-color: #1B31B1;
    background-image: url(line.png);
}
</style>

<body style="background-image: url(/Micro-Classroom/public/static/bootstrap-3.3.5-dist/img/intro-bg.jpg)">
    <div class="col-md-12">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">微课堂</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">微课堂</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{:url('Student/getScore')}" style="font-size: 14px;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;返回</a>
                        </li>
                        <li>
                            <a href="{:url('Student/scoreDisplay')}" style="font-size: 14px;"><i class="glyphicon glyphicon-repeat"></i>&nbsp;刷新</a>
                        </li>
                        <li>
                            <!--两个注销--TeacherLogout--StudentLogout-->
                            <a href="{:url('Student/index')}" style="font-size: 14px;"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="small-text-center">
            <h1 style="color: white; margin-top: 5%;">微课堂成绩查询系统</h1>
        </div>

      

                                <div class="table-responsive">
                                    <table border="0" cellspacing="0" cellpadding="0" class="table">
                                        <tr class=" label-primary">
                                            <th scope="col"><span style="color:white;font-size:18px;">科目</span></th>
                                            <th scope="col"><span style="color:white;font-size:18px;">教师</span></th>
                                             <th scope="col"><span style="color:white;font-size:18px;">成绩</span></th>
                                        </tr>

                                      {volist name="$Courseids" id="Courseid"}
                                        <tr class="active">
                                            <td style="font-size: 13px;">{$Courseid->Course->name}</td>
                                            <td style="font-size: 13px;">{$Courseid->Teacher->name}</td>
                                            <td style="font-size: 13px;">{$Courseid->total_score}</td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
        </body>
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </div>
</body>

</html>