<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
  
  <!-- Bootstrap Core CSS -->
  <link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//static.runoob.com/assets/qrcode/qrcode.min.js"></script>
</head>
<body style="background-image: url(/Micro-Classroom/public/static/bootstrap-3.3.5-dist/img/intro-bg.jpg)">
    <div class="col-md-12">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">微课堂</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">微课堂</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a href="{:url('Teacher/getQR')}"><i class="glyphicon glyphicon-resize-small"></i>&nbsp;还原</a>
                    </li>
                    <li>
                        <a href="{:url('Teacher/getQR')}"><i class="glyphicon glyphicon-repeat"></i>&nbsp;刷新</a>
                    </li>
                    <li>
                    <!--两个注销--TeacherLogout--StudentLogout-->
                        <a href="{:url('Teacher/index')}"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="head" class="col-md-6">
  </div>
  <input id="text"  value="$url" type="hidden" style="width:80%" /><br />
<div id="qrcode" style="width:600px; height:600px; margin-top:150px; margin-left: 650px;"></div>

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
  width : 600,
  height : 600
});

function makeCode () {    
  var elText = document.getElementById("text");
  
  if (!elText.value) {
    alert("Input a text");
    elText.focus();
    return;
  }
  
  qrcode.makeCode(elText.value);
}

makeCode();

$("#text").
  on("blur", function () {
    makeCode();
  }).
  on("keydown", function (e) {
    if (e.keyCode == 13) {
      makeCode();
    }
  });
</script>
</body>
</html>