mk,<!DOCTYPE html>
<html>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
  
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<head>
    <title>查看学生信息</title>
</head>
<style type="text/css">
    .font
    {
        font-size:16px;
    }
    .list
    {
        font-size: 13px;
    }
</style>
<body style="background-image: url(img/intro-bg.jpg)">
	<div class="col-md-12">
	           <!-- Navigation -->
   <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">微课堂</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">微课堂</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                            <a href="{:url('Teacher/studentSelect')}" style="font-size: 14px;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;返回</a>
                        </li>
                    <li>
                        <a href="{:url('Teacher/seeStudents')}"  style="font-size: 14px;"><i class="glyphicon glyphicon-repeat"></i>&nbsp;刷新</a>
                    </li>
                    <li>
                    <!--两个注销--TeacherLogout--StudentLogout-->
                        <a href="{:url('Teacher/index')}"  style="font-size: 14px;"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  
  <table class="table table-hover table-bordered" style="margin-top: 10%; background-color: white;">
                <tr class="info">
                    <th class="font">科目</th>
                    <th class="font">姓名</th>
                    <th class="font">性别</th>
                    <th class="font">学院</th>
                    <th class="font">专业</th>
                    <th class="font">班级</th>
                    <th class="font">学号</th>
                    <th class="font">邮箱</th>
                    <th class="font">电话号码</th>
                </tr>
               {volist name="$Courseids" id="Courseid"}
            <tr>
                <td class="list">{$Courseid->Course->name}</td>
                <td class="list">{$Courseid->Student->name}</td>
                <td class="list">{eq name="$Courseid->Student->sex" value='0'}男{else /}女{/eq}</td>
                <td class="list">{$Courseid->Student->college}</td>
                <td class="list">{$Courseid->Student->major}</td>
                <td class="list">{$Courseid->Student->Klass->name}</td>
                <td class="list">{$Courseid->Student->num}</td>
                <td class="list">{$Courseid->Student->email}</td>
                <td class="list">{$Courseid->Student->phone}</td>
               </tr>
               {/volist}
           </table>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>