<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
 <script src="echarts.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/Micro-Classroom/public/static/bootstrap-3.3.5-dist/css/landing-page.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<head>
    <title>随机提问</title>
</head>
<style type="text/css">
   
</style>
<body style="background-image: url(/Micro-Classroom/public/static/bootstrap-3.3.5-dist/img/intro-bg.jpg)">
   
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">微课堂</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">微课堂</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{:url('Teacher/randomQuestions')}" style="font-size: 14px;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;返回</a>
                        </li>
                        <li>
                            <a href="{:url('Teacher/show')}" style="font-size: 14px;"><i class="glyphicon glyphicon-repeat"></i>&nbsp;刷新</a>
                        </li>
                        <li>
                            <!--两个注销--TeacherLogout--StudentLogout-->
                            <a href="{:url('Teacher/index')}" style="font-size: 14px;"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    <form class="form-inline" style="margin-top: 20%;margin-left: 40%;">
        <div class="row">
            <div class="form-group">
           
                <label for="exampleInputName2" style="color: white; font-size:6rem;">姓名:&nbsp;</label>
                <label for="exampleInputName2" style="color: white; font-size:6rem;">{$LuckyName}&nbsp;</label>
            </div>   
        </div>
    
  
        <div class="row">
            <div class="form-group">
                <label for="exampleInputEmail2"  style="color: white;font-size:6rem;">学号:&nbsp;</label>
                <label for="exampleInputEmail2"  style="color: white;font-size:6rem;">{$LuckyNumber}&nbsp;</label>
            </div>  
        </div>
    


    </form>



 
 
            <div class="small-text-center">
            <a href="{:url('Teacher/show')}"><button type="button" class="btn btn-danger" style="margin-top:4%;width: 16%;">NEXT</button></a>
            </div>
        </div>
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
</body>

</html>