<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>学生编辑</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            {php}$action=request()->action()==='add'?'save':'update';{/php}
            <form action="{:url($action)}" method="post">
                <input type="hidden" name="klass_id" value="{$klasses->id}" />
                {for start="0" end="count($klasses->Courses)"}
                <input type="hidden" name="teacher_id[]" id="teacher_id_{$klasses->Courses[$i]->Teachers[0]->id}" value="{$klasses->Courses[$i]->Teachers[0]->id}" />
                {/for}
                {for start="0" end="count($klasses->Courses)"}
                <input type="hidden" name="course_id[]" id="course_id_{$klasses->Courses[$i]->id}" value="{$klasses->Courses[$i]->id}" />
                {/for}
                <label>学期：</label>
                <select name="term_id">
                    {volist name="terms" id="_terms"}
                    <option value="{$_terms->id}" {eq name="_terms->id" value="$Student->term_id" }selected="selected" {/eq}>{$_terms->name} {$_terms->id}</option> {/volist} </select>
                <label>姓名:</label>
                <input type="hidden" name="id" value="{$Student->getData('id')}" />
                <input type="text" name="name" value="{$Student->getData('name')}" />
                <label>学号:</label>
                {eq name="Student->num" value=""}
                <input type="text" name="num" value="{$Student->num}" />
                {else/}{$Student->num}{/eq}
                <label>性别:</label>
                <input type="radio" name="sex" value="0" id="sex0" {eq name="$Student->getData('sex')" value="0" }checked="checked" {/eq}/> <label for="sex0">男</label>
                <input type="radio" name="sex" value="1" id="sex1" {eq name="$Student->getData('sex')" value="1" }checked="checked" {/eq}/> <label for="sex1">女</label>
                <label>学院</label>
                <select name="college_id">
                    {volist name="colleges" id="college"}
                    <option value="{$college->id}" {eq name="college->id" value="$Student->college_id" }selected="selected" {/eq}>{$college->name} </option> {/volist} </select> <label>专业</label>
                        <input type="text" name="major" value="{$Student->getData('major')}" />
                        <input type="hidden" name="klass_id" value="{$klasses->id}">
                        <label>邮箱:</label>
                        <input type="email" name="email" value="{$Student->getData('email')}" />
                        <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>