{extend name="edit"} 
{block name="title"}
{eq name="klass->id" value=""}添加班级{else /}编辑班级{/eq}
{/block}
{block name="content"}
{php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action)}" method="post">
        <input type="hidden" name="id" value="{$klass->getData('id')}" />
        <label for="name">班级:</label>
        {eq name="klass->name" value=""}
        <input type="text" name="name" id="name" value="{$klass->name}" />
        {else/}{$klass->name}{/eq}
        <label for="teacher">辅导员:</label>
        <select name="teacher_id" id="teacher">
           {volist name="teachers" id="_Teacher"}
            <option value="{$_Teacher->getData('id')}" 
                {eq name="_Teacher->getData('id')" value="$klass->getData('teacher_id')"} selected="selected" {/eq}>{$_Teacher->getData('name')}</option>
           {/volist}
        </select>
        <button type="submit">submit</button>
    </form>
{/block}