{extend name="edit"}
{block name="title"}
{eq name="course->id" value=""}添加课程{else /}编辑课程{/eq}
{/block}
{block name="content"}
{php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
<form action="{:url($action)}" method="post">
    <input type="hidden" name="id" value="{$course->getData('id')}" />
    <label for="name">课程名称：</label><input type="text" name="name" id="name" value="{$course->name}" />
    <br>
    <label>学期：</label>
    <select name="term_id">
        {volist name="terms" id="_terms"}
        <option value="{$_terms->id}" {eq name="_terms->id" value="$course->term_id" }selected="selected" {/eq}>{$_terms->name}</option> {/volist} </select>
    <br>
    <label for="klass">班级：</label>
    {volist name="klasses" id="klass"}
    <input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" {eq name="course->getIsChecked($klass)" value="true" }checked="checked" {/eq}/> <label for="klass_id_{$klass->id}">{$klass->name}</label>
    {/volist}
    <br>
    <label for="teacher">教师：</label>
    {volist name="teachers" id="teacher"}
    <input type="checkbox" name="teacher_id[]" id="teacher_id_{$teacher->id}" value="{$teacher->id}" {eq name="course->teacherIsChecked($teacher)" value="true" } checked="checked" {/eq}/> <label for="teacher_id_{$teacher->id}">{$teacher->name}</label>
    {/volist}
    <br>
    <label for="room">教室:</label>
    <input type="text" name="room" value="{$course->room}" />
    <br>
    <button type="submit">submit</button>
</form>
{/block}