<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>录入课表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body class="container" >
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">微课堂</a>
                    </div>
                    <div class="collaspe navbar-collaspe" id="bs-example-navbar-collaspe-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('Teacher/index')}">教师管理</a></li>
                            <li><a href="{:url('Student/index')}">学生管理</a></li>
                            <li class="active"><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Course/index')}">课程管理</a></li>
                            <li><a href="{:url('Term/index')}">学期管理</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('courseList?id=' . $id )}" class="btn btn-danger"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;返回</a>
                </div>
            </div>
            <div>
                <hr />
                <form class="form-inline" action="{:url('Klass/courseSave')}" method="post">
                    <p>
                        <div class="form-group">
                            <label for="exampleInputName2">班 级：</label>
                            <input type="hidden" class="form-control" name="klass_id" value="{$klass->id}">
                            <input type="text" name="klass->name" value="{$klass->name}" readonly="readonly">
                        </div>
                    </br>
                </p>
                <div class="form-group">
                    <label for="exampleInputName2">课 程：</label>
                    <select name="course_id">

                        {volist name="course" id="course"}
                            
                        {:dump($course)}
                        <option value="{$course->Course->id}"  {eq name="$course->Course->id" value="$CourseId[0]" }  selected="selected" {/eq}>{$course->Course->name}&nbsp;&nbsp;{$course->Course->room}</option>
                        {/volist}
                    </select>
                </div>
            </br>
            <p>
                <div class="form-group">
                    <label for="exampleInputName2">星 期：</label>
                    <input type="hidden" class="form-control" name="date_id" value="{$Date->id}">
                    <input type="text" name="" value="{$Date->name}" readonly="readonly">
                </div>
            </br>
        </p>
        <p>
            <div class="form-group">
                <label for="exampleInputEmail2">节 次：</label>
                <input type="hidden" class="form-control" name="time_id" value="{$Time->id}">
                <input type="text" name="" value="{$Time->name}" readonly="readonly">
            </div>
        </br>
    </p>
    <p>
        <label for="exampleInputName2">周 次：</label>
        {volist name="week" id="_week"}
        
        <input type="checkbox" name="week[]->id" id="{$_week->id}" value="{$_week->id}" {for start="0" end="count($weekId)"} {eq name="$weekId[$i]" value="$_week->id"} checked=true; {/eq}  {/for}>

        <label for="_week_id{$_week->id}">{$_week->name}

        </label> 
        {/volist}
    </br>
</p>
<button type="submit" class="btn btn-default">确认</button>
</form>
</div>
</div>
</body>

</html>