{extend name="edit"} 
{block name="title"}
{eq name="Term->id" value=""}添加学期{else /}编辑学期{/eq}
{/block}
{block name="content"}
{php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action)}" method="post">
        <input type="hidden" name="id" value="{$Term->getData('id')}" />
        <label for="name">学期:</label>
        {eq name="Term->name" value=""}
        <input type="text" name="name" id="name" value="{$Term->name}" />
        {else/}{$Term->name}{/eq}
        <button type="submit">submit</button>
    </form>
{/block}